.header {
  height: 7rem;
  width: 100%;
  display: flex;
  //space between will push apart children tags
  background-color: $secondary;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 700px;
    // all four paddings are 25px

    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .option {
      padding: 1rem 1.5rem;
      cursor: pointer;
    }
  }
}

.cart {
  height: 100%;
  width: 2rem;
}
